// Various transitions
@mixin transition-fast {
  transition: all .2s ease-out;
}

@mixin transition-medium {
  transition: all .4s ease-out;
}

@mixin transition-slow {
  transition: all .7s ease-out;
}